
*{
    box-sizing: border-box;
}
body{
    padding: 0 20px;
}
.header{
    background-color: #294e7a;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    h1{
        margin: 0;
        font-size: 42px;
    }
    p{
        margin: 0;
        font-size: 18px;
    }
    img{
        height:90px;
    }

}


.header-nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    gap: 42px;

    ul{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 20px;
        align-items: end;
    }
    li{
        display: inline-block;

        a{
            text-decoration: none;
            color: white;
            background-color: #3f72b3;
            padding: 15px 20px;
            font-size: 20px;
            margin: 0;
        }
    }

    input{
        background-color: #1e3352;
        color: white;
        height: 25px;
        width: 300px;
        border: 1px solid #3f72b3;

    }
    input::placeholder{
        color: white;
    }
    button{
        background-color: #1e3352;
        color: white;
        height: 25px;
        border: 1px solid #3f72b3;
    }
    button:hover{
        background-color: #3f72b3;
        color: #fff;
        border-color: #1e3352;
        cursor: pointer;
    }
}
.main{
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.main-content{
    width: 70%;
}
.main-side{
    width: 30%;
}
.main-content-heading{
    font-size: 30px;
    color: grey;
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
}

.main-content-information{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.main-content-information-form{
    width: 60%;
}
.main-content-information-form-description{
    font-size: 20px;
    color: red;
    text-shadow: 5px 5px 5px green;
}
.main-content-information-about{
    padding: 0 20px;
    width: 40%;

    p{
        margin: 0;
        font-size: 30px;
        color: grey;
        border-bottom: 1px dashed black;
        padding-bottom: 20px;
    }

    ul{
        list-style-type: none;
        margin: 20px 0;
        padding: 0;
        font-size: 18px;
        color: grey;
    }
}
.main-content-information-form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;

    label{
        display: block;
        color: grey;
        font-size: 20px;
    }
    input, textarea{
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        margin-top: 5px;
    }
    input{
        height: 25px;
        width: 100%;
    }
    textarea{
        width: 205%;
        height: 80px;
    }
    button{
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        color: grey;
        height: 30px;
        margin-right: 10px;
        padding: 0 10px;
    }
    button:hover{
        background-color: darkgrey;
        border: 1px solid black;
        cursor: pointer;
    }
}
.main-side{
    background-color: #f9f9f9;
    padding: 20px 30px;
    h1{
        margin: 0;
        font-size: 30px;
        color: grey;
        border-bottom: 1px dashed black;
        padding-bottom: 20px;
        font-weight: normal;
    }
    img{
        margin-top: 20px;
        border: 2px solid #b0afab;
        padding: 10px 10px;
        background-color: white;
        width: 500px;
    }
    a{
        text-decoration: none;
        color: #294e7a;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: end;
    }
    a:hover{
        color: #3f72b3;
        cursor: pointer;
    }
    p{
        font-size: 20px;
        word-spacing: 10px;
        color: #6c6b70;
    }
}


.footer{
    margin-top: 12%;
    padding: 20px 10px;
    background-color: #1e3352;
    color: white;
    font-size: 18px;

}
