*{
    box-sizing: border-box;
}

body{
    border: 2px solid darkred;
}
section {
    h2 {
        color: #aa262a;
        background-color: #f8f4c5;
        font-size: 40px;
        margin: 0;
    }
    ul {
        margin: 0;
        li {
            font-size: 20px;
        }
    }
    a{
        color: red;
        font-weight: bold;
        font-size: 20px;
    }
}

header > h1{
    font-style: italic;
    font-size: 40px;
    color: #aa262a;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 18px 26px 12px rgba(255,0,0,0.4);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #ea9598;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 15px;
    a{
        float: left;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        border-right: 1px solid blue;
        padding: 10px 30px;
    }
    a:link{
        text-decoration: none;
    };
}
.note--text{
    font-weight: bold;
    color: red;
    a{
        color:red;
    }
}