*{
    box-sizing: border-box;
    font-family: Georgia, serif;
    text-shadow: 0.5px 0 #6c6b70;
}

#container{
    margin-inline: 18%;
}

.header{
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    position: relative;


}
.header__nav{
    background-color: #b0afab;
    font-size: 22px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 100%;

    a{
        margin-left: 40px;
        color: white;

    }

    a:link{
        text-decoration: none;
    }
    a:hover{
        color: black;
        cursor: pointer;
    }

}

.main{
    margin-top: 6%;
    float: left;
    padding: 0;
}
.main__left{
    width: 75%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main__left__article{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #6c6b70;
}

.main__left__article__div--image{
    padding: 10px;
    border: 1px solid gray;
}

.main__left__article__div--heading{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 20px;
}
.main__left__article__div--subheading{
    font-size: 28px;
    color: #e288a2;
    margin-top: 0;
}
.main__left__article__div--text{
    font-size: 20px;

}
.main__right{
    width: 25%;
    padding-inline: 25px;

}
.main__right_section--heading1{
    font-size: 30px;
    margin-top: 20px;
    color: #e288a2;
}
.main__right_section__div--heading2{
    padding-bottom: 25px;
    margin-inline: 15px;
    font-size: 20px;
    border-bottom: 1px solid black;
    color: #e288a2;
}
.main__right_section__div--text{
    padding:0;
    margin: 0;
    color: #6c6b70;
}


.footer{
    clear: both;
    background-color: #b0afab;
    color: white;
    padding: 1px 0;
}